

        <div id="top-meals-section">
            <div class="text-wrapper">
                <div class="meals-text"><h2>Our Meal Packages</h2></div>
                <h3>Our focused and personalized packages ensure that you get a combination of what you want with the nutrients you need.</h4>
            </div>
            <div class="packageContainer">
                <div class="packageGrid">
                    {{#each packages}}
                        <div class="package-wrapper">
                            <div class="img-wrapper">
                                <img src="img/{{this.image}}">
                            </div>
                            <div class="text-wrapper">
                                <h3 id="packageTitle">{{this.title}}</h3>
                                <h3 class="content-desc" id="packageDesc">{{this.contentSummary}}</h3>
                                <h4>${{this.price}}.00 | {{this.noOfMeals}} meals</h4>
                            </div>
                        </div>
                    {{/each}}

                </div>
            </div>
        </div>