<div class="form-wrapper">
<form id="signup-form" method = "POST" name = "signup" action = "/register" class="main-form"> 
            
    <fieldset>
        <legend>Create Account</legend>
        <label id="fNameLabel" for="fName">First name: </label><br>
        <input name = "fName" value={{fNameValue}}><br>
        <p class="error-message">{{fnameError}}</p>

        <label id="lNameLabel" for="lName">Last name: </label><br>
        <input name = "lName" value={{lNameValue}}><br>
        <p class="error-message">{{lnameError}}</p>

        <label id="emailLabel" for="email">Email Address: </label><br>
        <input name = "email" type="email" value={{emailValue}}><br>
        <p class="error-message">{{emailError}}</p>

        <label id="passwordLabel" for="password">Password: </label><br>
        <input type="password" name = "password" value={{pswdValue}}><br>
        <p class="error-message">{{pswdError}}</p>

        <label id="phoneNumLabel" for="phoneNum">Phone Number (optional): </label><br>
        <input name = "phoneNum" placeholder="123-456-7890" value={{phoneNumValue}}><br>
        <p class="error-message">{{phoneNumError}}</p>
            
        <input type = "submit" value = "Sign up">  
    </fieldset>
             
</form> 
</div>